* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

body {
  background-color: #31724B;
  font-family: "Montserrat", sans-serif;
  color: #D5D7D8; }

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #1C422B; }

.logo__h1 {
  font-size: 24px;
  font-weight: 700; }
  .logo__h1:hover {
    animation: rubberBand .8s; }

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: -5px; }
  .nav__list {
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    margin-right: 10px; }
    .nav__list:last-child {
      margin-right: 0; }
    .nav__list a {
      color: #D5D7D8;
      position: relative;
      padding: 5px;
      font-weight: 600; }

.mob-menu {
  flex-direction: column;
  background-color: #1C422B;
  padding: 10px;
  transition: .5s;
  transform: translate(500%);
  position: fixed;
  right: 5%;
  z-index: 2;
  opacity: .9; }
  .mob-menu .nav__list {
    padding: 10px; }

.burger-open {
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  background: none;
  border: none;
  outline-color: #D5D7D8;
  position: fixed;
  height: 55px;
  right: 10%;
  padding: 10px;
  border-radius: 2px;
  background-color: #1C422B;
  z-index: 2;
  display: none;
  transition: .3s;
  opacity: .95; }
  .burger-open span {
    width: 35px;
    height: 5px;
    background-color: #D5D7D8;
    display: block;
    border-radius: 5px; }

.burger-close {
  color: #D5D7D8;
  transition: transform .3s;
  text-decoration: none;
  font-weight: 400;
  font-size: 4em;
  background: none;
  border: none;
  outline-style: none;
  display: block;
  width: 100%; }

.wrapper {
  text-align: center; }

h2,
caption,
th {
  text-transform: uppercase;
  padding: 1rem;
  text-align: center; }

table {
  background-color: #D5D7D8;
  margin: 0 auto;
  border: 1px solid #D5D7D8;
  border-spacing: 2px;
  margin-bottom: 1rem;
  max-width: 100%; }

td,
th {
  background-color: #1C422B;
  padding: 1rem; }

@media only screen and (max-width: 768px) {
  .menu {
    display: none; }
  .burger--visibility {
    display: flex; }
  table {
    font-size: 13px; }
  td,
  th {
    padding: 5px; } }

img {
  height: 2rem; }

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.btn {
  background: linear-gradient(to top, #31724B, #1C422B);
  color: #D5D7D8;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  margin: 1rem auto;
  border-radius: 5px;
  border: 1px solid #D5D7D8;
  text-transform: uppercase;
  transition: all .3s; }
  .btn:hover {
    background: linear-gradient(to top, #31724B, #D5D7D8);
    color: #1C422B; }
  .btn-deleted:hover {
    background: linear-gradient(to top, red, #D5D7D8); }

.fab {
  transition: all .2s; }

.footer {
  background-color: #1C422B;
  padding: 1rem;
  text-align: center; }
  .footer__socials {
    padding: 1em; }
  .footer__icon {
    font-size: 2rem;
    color: #D5D7D8;
    margin: 1rem; }
    .footer__icon:hover .fab {
      transform: scale(1.2);
      transform-origin: center; }

.deleted__num {
  padding: .5rem; }
